.nova-posta-page {
    display: flex;
    border-radius: 25px;
}


.left-panel {
    width: 450px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    border-radius: 25px;
    margin-right: 20px;

}
.filter-btn{
    display: flex;
    align-items: center;
}
.map-container {
    flex: 1;
    position: relative;
    border-radius: 25px;

}


